Server/ServerCore/bin
Server/ServerCore/obj
Server/Server/bin
Server/Server/obj
Server/PacketGenerator/bin
Server/PacketGenerator/obj
Server/DummyClient/bin
Server/DummyClient/obj
Server/.vs
Client/.vs
Client/Temp
Client/obj
Client/Logs
Client/Builds
Client/Library
Client/Assembly-CSharp.csproj
Client/Assembly-CSharp-Editor.csproj
Client/UserSettings/Layouts/default-2021.dwlt
